/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

/* Asterisk is used to override browser's default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-color: #6688de;
    --bg-color: #ffffff;
    --shadow-color: rgba(0, 0, 0, .2);
}

/* General styles */
body {
    background-color: var(--bg-color);
    min-height: 100vh;
    overflow: hidden;
}

h1 {
    color: var(--main-color);
}

button {
    width: 9rem;
    height: 2.5rem;
    background-color: var(--main-color);
    color: var(--bg-color);
    border-color: none;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

button a {
    color: var(--bg-color);
}

/* Header */
header {
    position: fixed;
    top: 0;
    padding: .5rem 1rem;
    width: 100%;
    box-shadow: 0 2px 2px var(--shadow-color);
    background-color: var(--bg-color);
    z-index: 99;
}

#logo {
    color: var(--main-color);
    font-size: 1.5rem;
    font-weight: 600;
}

/* Main content */
main {
    /* Pushes down the footer */
    flex: 1 0 auto;
    /* Allows child elements to have flex properties */
    display: flex;
    flex-direction: column;
}

/* Home page content */
.home-container {
    /* Centers the home-container div */
    position: relative;
    top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-container h1 {
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

/* Home-box */
.home-box {
    /* Styles the content inside the home-box div to appear next to each other */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 18rem;
    height: 6rem;
    padding: 2rem;
    margin-top: 1rem;
    color: var(--bg-color);
    border-radius: 1.5rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.home-box h2 {
    font-size: 1rem;
    font-weight: 500;
}

/* Overrides the general button styling*/
.arrow-btn {
    background-color: transparent;
    width: min-content;
}

.home-box iconify-icon {
    font-size: 2.2rem;
}

.home-box i {
    font-size: 1.2rem;
}

/* Quiz box */
.quiz-box {
    /* Enables div to appear on top of home container */
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--bg-color);
    /* Makes the div hidden until the arrow button is triggered */
    opacity: 0;
    pointer-events: none;
}

/* Makes the div visible when the "Start Quiz" button is clicked */
.quiz-box.active {
    opacity: 1;
    pointer-events: auto;
}

/* Styles span element in quiz-box */
.question-score {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--main-color);
}

/* Styles h2 element in quiz-box */
.question-heading {
    font-size: 1.2rem;
    color: var(--main-color);
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.quiz-box .answers-list {
    list-style-type: none;
}

/* Styles li elements in quiz box */
.answers-list .answer {
    width: 18rem;
    height: 2.75rem;
    border-radius: .6rem;
    border: 1px solid var(--main-color);
    margin-bottom: .7rem;
    padding: .5rem;
    cursor: pointer;
}

/* Adds colour when the user answer is correct */
.answers-list .answer.correct {
    background-color: var(--bg-color);
    color: #19B457;
    border: 2px solid #19B457;
}

/* Adds colour when the user answer is incorrect */
.answers-list .answer.wrong {
    background-color: var(--bg-color);
    color: #C4133D;
    border: 2px solid #C4133D;
}

.answers-list .answer.disabled {
    pointer-events: none;
}

.quiz-box .next-btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: .5rem;
    pointer-events: none;
}

/* Enables button to be clicked on and changes the colour */
.quiz-box .next-btn.active {
    pointer-events: auto;
    background-color: #273f7c;
    border: 2px solid #273f7c;
}

/* Footer */
#social-media {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: .5rem;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

#social-media i {
    font-size: 150%;
    color: var(--bg-color);
}

/* Quiz guide page */
.quiz-guide {
    /* Styles the elements within section to be centered*/
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
}

.quiz-guide h2 {
    font-size: 1.25rem;
    color: var(--main-color);
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.quiz-guide ul {
    list-style-type: none;
    margin-bottom: 1rem;
}

.quiz-guide li {
    font-size: .9rem;
    color: var(--text-color);
    text-align: justify;
    margin-bottom: .5rem;
}

.quiz-guide .exit-btn {
    margin-top: 1rem;
}



