/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

/* Asterisk is used to override browser's default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-color: #6688de;
    --bg-color: #ffffff;
    --shadow-color: rgba(0, 0, 0, .2);
}

/* General styles */
body {
    background-color: var(--bg-color);
    min-height: 100vh;
    overflow: hidden;
}

h1 {
    color: var(--main-color);
}

button {
    width: 9rem;
    height: 2.5rem;
    background-color: var(--main-color);
    color: var(--bg-color);
    border-color: none;
    border-radius: 2rem;
    cursor: pointer;
}

button a {
    color: var(--bg-color);
}

/* Header */
header {
    position: fixed;
    top: 0;
    padding: .5rem 1rem;
    width: 100%;
    box-shadow: 0 2px 2px var(--shadow-color);
    background-color: var(--bg-color);
    z-index: 99;
}

#logo {
    color: var(--main-color);
    font-size: 1.5rem;
    font-weight: 600;
}