/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

/* Asterisk is used to override browser's default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-color: #6688de;
    --bg-color: #ffffff;
    --shadow-color: rgba(0, 0, 0, .2);
}

/* General styles */
body {
    background-color: var(--bg-color);
    min-height: 100vh;
    overflow: hidden;
}

h1 {
    color: var(--main-color);
}

button {
    width: 9rem;
    height: 2.5rem;
    background-color: var(--main-color);
    color: var(--bg-color);
    border-color: none;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

button a {
    color: var(--bg-color);
}

/* Header */
header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: .5rem 1rem;
    width: 100%;
    box-shadow: 0 2px 2px var(--shadow-color);
    background-color: var(--bg-color);
    z-index: 99;
}

#logo {
    color: var(--main-color);
    font-size: 1.5rem;
    font-weight: 600;
}

#quiz-guide-icon iconify-icon {
    color: var(--main-color);
    font-size: 2rem;
}

/* Main content */
main {
    /* Pushes down the footer */
    flex: 1 0 auto;
    /* Allows child elements to have flex properties */
    display: flex;
    flex-direction: column;
}

/* Home page content */
.home-container {
    position: relative;
    top: 100px;
    align-items: left;
    padding: 2rem;    
}

.home-content h1 {
    display: flex;
    flex-direction: column;
    color: var(--main-color);
    font-size: 170%;
    font-weight: 600;
}

.home-content p {
    color: var(--text-color);
    font-size: 80%;
    font-weight: 450;
    line-height: normal;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.start-btn a{
    color: var(--bg-color);
    margin-bottom: 1rem;
}

.home-container img {
    width: 100%;
    height: 100%;
    transform: scale(1.2);
    margin-top: 1rem;   
}

/* Quiz box */
.quiz-box {
    /* Enables div to appear on top of home container */
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--bg-color);
    /* Makes the div hidden until the arrow button is triggered */
    opacity: 0;
    pointer-events: none;
}

/* Makes the div visible when the "Start Quiz" button is clicked */
.quiz-box.active {
    opacity: 1;
    pointer-events: auto;
}

/* Styles span element in quiz-box */
.question-score {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--main-color);
}

/* Styles h2 element in quiz-box */
.question-heading {
    font-size: 1.2rem;
    color: var(--main-color);
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.quiz-box .answers-list {
    list-style-type: none;
}

/* Styles li elements in quiz-box */
.answers-list .answer {
    width: 18rem;
    height: 2.75rem;
    border-radius: .6rem;
    border: 1px solid var(--main-color);
    margin-bottom: .7rem;
    padding: .5rem;
    cursor: pointer;
}

/* Adds colour when the user answer is correct */
.answers-list .answer.correct {
    background-color: var(--bg-color);
    color: #19B457;
    border: 2px solid #19B457;
}

/* Adds colour when the user answer is incorrect */
.answers-list .answer.wrong {
    background-color: var(--bg-color);
    color: #C4133D;
    border: 2px solid #C4133D;
}

/* Disables any actions if user already choose the answer */
.answers-list .answer.disabled {
    pointer-events: none;
}

.quiz-box .next-btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: .5rem;
    pointer-events: none;
}

/* Enables button to be clicked on and changes the colour */
.quiz-box .next-btn.active {
    pointer-events: auto;
    background-color: #273f7c;
    border: 2px solid #273f7c;
}

/* Total user score box */
.score-box {
    /* Enables div to appear on top of quiz-box */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--bg-color);
    /* Makes the div hidden until the last "Next" button is triggered */
    opacity: 0;
    pointer-events: none;
}

/* Makes the div visible when the last "Next" button is clicked */
.score-box.active {
    opacity: 1;
    pointer-events: auto;
}

.score-box h2 {
    color: var(--main-color);
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

/* Styles span element in score-box */
.score-box .score-text {
    color: var(--main-color);
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.score-box .username-label {
    margin-bottom: .4rem;
    font-size: .8rem;
    color: var(--main-color);
    font-weight: 500;
}

.score-box .text-input {
    margin-bottom: 2rem;
    width: 15rem;
    height: 2.5rem;
    border: 2px solid var(--main-color);
    border-radius: 0.6rem;
    padding: .5rem;
}

.score-box button {
    margin-bottom: 1rem;
}

/* Footer */
#social-media {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: .5rem;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

#social-media i {
    font-size: 150%;
    color: var(--bg-color);
}

/* Quiz Guide page */
.quiz-guide {
    /* Styles the elements within section to be centered*/
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
}

.quiz-guide h2 {
    font-size: 1.25rem;
    color: var(--main-color);
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.quiz-guide ul {
    list-style-type: none;
    margin-bottom: 1rem;
}

.quiz-guide li {
    font-size: .9rem;
    color: var(--text-color);
    text-align: justify;
    margin-bottom: .5rem;
}

.quiz-guide .exit-btn {
    margin-top: 1rem;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Home page */
    .home-container {
        margin-top: 3rem;
    }

    .home-container h1 {
        font-size: 2rem;
    }
    /* Makes home-box bigger to look better on tablet */
    .home-box {
        width: 31rem;
        height: 7rem;
    }

    .username-label {
        font-size: 1.3rem;
    }
    
    .text-input {
        width: 26rem;
        height: 2.5rem;
    }
    /* Quiz box */
    .quiz-box {
        margin-top: -4rem;
        justify-content: center;
        align-items: center;
    }

    .quiz-header {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    .question-heading {
        font-size: 1.3rem;
        text-align: center;
        /* Sets the maximum width the element can take up */
        max-width: 32rem;
    }

    .answer{
        /* Makes home-box bigger to look better on tablet */
        width: 30rem;
        height: 3rem;
        border-radius: 0.625rem;
        border: 1px solid #9289F9;
        margin-bottom: .7rem;
        padding: .5rem;
    }

    .next-btn {
        width: 13rem;
        height: 3rem;
        font-size: 1rem;
    }

    /* Quiz Guide page */
    .quiz-guide {
        text-align: center;
        padding: 5rem;
    }

    .quiz-guide h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .quiz-guide li {
        font-size: 1.2rem;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .home-container {
        top: 50px;
    }

    .home-box h2 {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1600px) {
    .home-container {
        padding-top: 3rem;
    }
}


